{% extends 'base.html.twig' %} {% block title %}新規投稿{% endblock %} {% block
body %}
<h1>新規投稿フォーム</h1>
{#フラッシュメッセージ表示#} {% for label, messages in app.flashes %} {% for
message in messages %}
<div class="alert alert-{{ label }}">{{ message }}</div>
{% endfor %} {% endfor %} {# フォームの表示 #} {#
form_start()でフォームの開始タグを出力 #} {#
form_row()でフォームの各フィールドを出力 #} {#
form_end()でフォームの終了タグを出力 #} {# 各フィールドの表示とエラーメッセージ
#}
{{ form_start(form) }}
{{ form_row(form.name) }}

<div class="form-group">
    {{ form_label(form.comment) }}
</div>
<div class="form-group">
    {{ form_widget(form.comment) }}
</div>
<div class="form-group">
    {{ form_label(form.image) }}
</div>

<div class="form-group">
    {{ form_widget(form.image) }}
    {% for error in form.image.vars.errors %}
    <div class="text-danger">{{ error.message }}</div>
    {% endfor %}
</div>

<div>
    {% if form.comment.vars.errors | length > 0 %}
    <div class="invalid-feedback">
        {% for error in form.comment.vars.errors %}
        <div>{{ error.message }}</div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="form-group">
    {{ form_label(form.startDate) }}
</div>
<div class="form-group">
    {{ form_widget(form.startDate) }}
</div>
～
<div class="form-group">
    {{ form_label(form.endDate) }}
</div>
<div class="form-group">
    {{ form_widget(form.endDate) }}
</div>
<div class="form-group">
    {% for error in form.endDate.vars.errors %}
    <div class="text-danger">{{ error.message }}</div>
    {% endfor %}
</div>
<button class="btn btn-primary">登録</button>
{{ form_row(form._token) }}
{{ form_end(form) }}
{% endblock %}
